
body{
	width:100%;	
	background-color: #C8C8C8;
	text-align:center;

}

article{
	
	
}

#logo{
	
}

#menu{

}

#container{

}

.main_menu{
	list-style-type:none;
}
.main_menu_option{
	border: solid 1px grey;
	/* border-collapse:collapse; nie dziala */
	margin: 2px;
	/*
	display:block;
	float:left;
	*/
}
.article_button{
	float:left;
	
}















