body
{
background-color: #68797B;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #68797B;
}
#logo
{
	text-align: center;
	padding: 15px;
	border:3px;

}

#nav
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px
}

#main
{
	float:left;
	width: 250px;
	text-align:center;
	background-color: #FE2E2E;
}

.option
{
	float:left;
	width: 250px;
	text-align:center;
	color: #6E6E6E;
	background-color: black;
	hover: 
	
}

.option:hover{
	background-color: #404766;
}
#main:hover{
	background-color: #404766;
}

#main_content
{
	float:left;
	background-color:#6E617B;
	margin-left:auto;
	margin-right:auto;
	padding: 30px;
	align: "middle";
	
}


#left_side
{
	float:left;
}

#right_side
{
	float:left;
}


#footer
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #6E617B;
}




















